---
const {variant, size} = Astro.props;
---

<button class={variant + " " + size}><slot /></button>

<style>
    .primary, .secondary, .tertiary {
        font-family: var(--primary-font-family);
        font-size: var(--secondary-font-size);
        font-weight: 500;
        padding: 5px;
        border-radius: 35px;
        margin-left: 10px;
        border: none;
        text-align: center;
    }
    .primary {
        color: var(--primary-font-color);
        background-color: var(--primary-background-color);
    }
.secondary {
    background-color: var(--tertiary-background-color);
}
.tertiary {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--primary-font-color);
    font-size: var(--tertiary-font-size);
    background-color: var(--secondary-background-color);
}
.tertiary img {
    color: white;
    background-color: white;
}
</style>